[build]
builder = "NIXPACKS"

[build.nixpacksConfig]
nixpkgs = "22.11"

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[env]
PYTHONPATH = "/app"